#main-logo {
    background-color: rgb(29, 28, 28) ;
    order: -1;
}

.hero {
    background-color: #3b3b3b;

}

.hero-text {
    text-align: center;
    width:200px;
    grid-column: 5/9;
    margin-top: 100px;
    height: 200px;
}

.shop-now {
    /* grid-column: 6/12; */
    grid-row: 1/2;
height: 39px;
font-size: 15px;
margin-bottom: 646px;   
}

#demo_reel {
    grid-column: 2/4;
    height: 478px;
    background-color: #E3E3E3;
    position: relative;
}
/* projects */
#projects {

    /* height: 423px; */
    margin-bottom: 10px;
}

.shop {
    height: 19px;
     margin-top: 24px;
     grid-row: 1/2;
     padding-bottom: 22px;
     padding-top: 6px;
     /* margin-right: 7px; */
}

#sign-up{
    display:None;
}

.demo {
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    grid-column: 1/4;
}

.product1 {
    grid-column: 1/4;
    height: 250px;
    grid-row: 3/4;
    margin-left: 20px;
    margin-right: 20px;
}

/* 6.Footer */
#footer {
    height: 262px;
    background-color: #989898;
}

#footer-logo {
    height: 80px;
    background-color: rgb(29, 28, 28);
    margin-left: 13px;
    padding-right: 38px;
}

#footer-nav {
    height: 100px;
    margin-left: 12px;
    padding-right: 35px;
}

#contact {
    height: 1px;
    padding-left: 48px;
}

#footer-menu {
    height: 1px;
    margin-left: 8px;
    margin-right: 8px;
}

#inc {
    height: 19px;
    margin-left: 8px;
    margin-right: 60px;
}


/*Tablet: 768*/

@media screen and (min-width: 768px) {
    #main-logo {
        background-color: rgb(29, 28, 28) ;
        order: -1;
    }

    .hero {
        background-color: #3b3b3b;
   
    }
    
    .hero-text {
        text-align: center;
        width:200px;
        grid-column: 5/9;
        margin-top: 100px;
        height: 200px;
    }

    .shop-now {
        grid-column: 6/12;
        grid-row: 1/2;
    height: 39px;
    font-size: 15px;
    margin-bottom: 646px;   
    }

   
/* projects */
    #projects {

        /* height: 200px; */
        margin-bottom: 10px;
    }
    
    .shop {
        height: 40px;
         margin-top: 24px;
         grid-row: 1/2;
         padding-bottom: 22px;
         padding-top: 6px;
         margin-right: 7px;
    }

 
    .demo {
        height: 350px;
        margin-left: 20px;
        margin-right: 20px;
        grid-column: 2/12;
    }

    .product1 {
        grid-column: 2/12;
        height: 350px;
        /* width: 500px; */
        grid-row: 3/4;
        margin-left: 20px;
        margin-right: 20px;
    }
    
/*5.demo_reel */

#demo_reel {
    height: 478px;
    background-color: #E3E3E3;
    position: relative;
}


/*6.Footer*/
#footer {
    height: 167px;
    background-color: #989898;
}

#footer-logo {
    height: 1px;
    background-color: rgb(29, 28, 28);
    margin-left: 56px;
    padding-left:20px ;
    padding-right: 38px;
    margin-top: 30px;
}


#contact {
    padding-top: 6px;
    margin-top: 12px;
    margin-right: 30px;
    padding-right:80px;
    height: 1px;
    margin-left: 150px;
    padding-left: 48px;
    margin-top: 29px;
}

#footer-menu {
    height: 19px;
    margin-top: 80px;
    grid-row: 1/2;
    padding-bottom: 22px;
    padding-top: 6px;
    margin-left: -110px;
    margin-right: 7px;
}

#inc {
    height: 19px;
    grid-row: 1/2;
    margin-top: 110px;
    padding-top: 6px;
}

}

/*Destop: 1200*/

@media screen and (min-width: 1200px) {

    #sign-up{
        display: block;
    }
    #main-logo {
        background-color: rgb(29, 28, 28) ;
        order: -1;
    }
/* 1. Header*/
    #main_menu {
        grid-row: 1/2;
    }

/*2 Hero Image */
    .hero {
        width: 1920px;
        background-color: #3b3b3b;

    }

    .hero-text {
        grid-column: 1/5;
        margin-top: 100px;
        height: 200px;   
    }

    
  


/* 4.projects */
    #projects {
        height: 600px;
    }
   
  

     .product1 {
        grid-column: 2/12;
        width: 930px;
        height: 450px;
        margin-left: 20px;
        margin-right: 20px;
        grid-row: 3/4;
    }

    .product2 {
        height: 390px;
        grid-row: 3/4;
        margin-left: 20px;
        margin-right: 20px;
    }
/* 5.demo_reel */
#demo_reel {
    height: 500px;
    background-color: #E3E3E3;
    position: relative;
}

}
#button-box{
    background-color: rgb(29, 28, 28);
}
#img-box{
    background-color: #aaaaaa;
}
